<div style="background-color:aliceblue">
	<div id="page-content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12 ">
					<div class="panel panel-default ">
						<div class="panel-body blox">
							<h4 class="col-sm-7">Today's Summary <span>(10-02-2023 )</span>
							</h4>

							<div id="clock" class="col-sm-5 text-right popo">11:02:32</div>

							<div class="clearfix"></div>
							<div class="breadcrumb blox" id="live2">
								<div class="col-sm-3 text-center">
									Total Online Players<br> <span></span>
								</div>
								<div class="col-sm-3 text-center">
									Total Bet <br> <span></span>
								</div>
								<div class="col-sm-3 text-center">
									Last Winning Number<br> <span>0</span>
								</div>
								<div class="col-sm-3 text-center">
									Estimated Winning Number<br> <span>0</span>
								</div>
								<div class="clearfix"></div>
							</div>
							<h4 class="col-sm-7">Current Estimates <span> </span>
							</h4>


							<div class="clearfix"></div>
							<div class="breadcrumb blox" id="live2">
								<div class="col-sm-2 text-center">
									Red<br> <span>5</span>
								</div>
								<div class="col-sm-2 text-center">
									Black <br> <span>5</span>
								</div>
								<div class="col-sm-1 text-center">
									1<br> <span>0</span>
								</div>
								<div class="col-sm-1 text-center">
									2<br> <span>0</span>
								</div>
								<div class="col-sm-1 text-center">3 <br> <span>0</span>

								</div>
								<div class="col-sm-1 text-center">4 <br> <span>0</span>

								</div>
								<div class="col-sm-1 text-center">5 <br> <span>0</span>

								</div>
								<div class="col-sm-1 text-center">6 <br> <span>0</span>

								</div>
								<div class="clearfix"></div>


							</div>

							<h4 class="col-sm-7">Current Estimates X6 <span> </span>
							</h4>


							<div class="clearfix"></div>
							<div class="breadcrumb blox" id="live2">
								 
								<div class="col-sm-2 text-center">
									1<br> <span>0</span>
								</div>
								<div class="col-sm-2 text-center">
									2<br> <span>0</span>
								</div>
								<div class="col-sm-2 text-center">3 <br> <span>0</span>

								</div>
								<div class="col-sm-2 text-center">4 <br> <span>0</span>

								</div>
								<div class="col-sm-2 text-center">5 <br> <span>0</span>

								</div>
								<div class="col-sm-1 text-center">6 <br> <span>0</span>

								</div>
								<div class="clearfix"></div>


							</div>

							<h4 class="col-sm-7">Customise Output<span> </span>
							</h4>


							<div class="clearfix"></div>
							<div class="breadcrumb blox" id="live2">
								<div class="col-sm-4 text-center">
									<div class="dataTables_length" id="tabler_length"><label>Show Number <select
												name="tabler_length" aria-controls="tabler" class="form-control
										input-sm">
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
											</select>
										</label></div>
								</div>
								<div class="col-sm-4 text-center">
									<div class="dataTables_length" id="tabler_length"><label>Show Color <select
												name="tabler_length" aria-controls="tabler" class="form-control
										input-sm">
												<option value="red">Red</option>
												<option value="black">Black</option>

											</select>
										</label></div>
								</div>

								<div class="col-sm-4 text-center">
									<button class="btn btn-warning pull-right">Submit</button>
								</div>

								<div class="clearfix"></div>
							</div>
						</div>


					</div>
				</div>
				<div class="col-sm-12">
					<div class="breadcrumb blox">
						<h4>Online Players
							<!---->
						</h4>

					</div>
				</div>
				<div class="col-sm-12">
					<div class="card">
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Sno</th>
										<th>Id</th>
										<th>Username</th>
										<th>Distributor</th>
										<th>Agent</th>
										<th>Credit</th>
										<th>Play Points</th>
										<th>Win Points</th>
										<th>Casino Profit</th>
										<th>Device</th>
										<th>View</th>
									</tr>

								</thead>
								<tbody id="loader"></tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>